{% extends "template.html" %}

{% block conteudo_body %}



    <div id="pagewrap">
       

        <div id="mainSection">
            <div class="panel" id="saldoEmConta">
                <h2>Saldo em Conta</h2>
                <p>valorcorrespondente</p>
            </div>

            <div class="panel" id="contasPagar">
                <h2>Contas a Pagar</h2>
                <p>valorcorrespondente</p>
            </div>

            <div class="panel" id="contasReceber">
                <h2>Contas a Receber</h2>
                <p>valorcorrespondente</p>
            </div>

            <div class="panel" id="inadimplencia">
                <h2>Inadimplência</h2>
                <p>valorcorrespondente</p>
            </div>

            <div class="panel" id="provisionamentoContas">
                <h2>Provisões de Contas</h2>
                <p>valorcorrespondente</p>
            </div>

            <div class="panel" id="insights">
                <h2>Insights</h2>
                <p>valorcorrespondente</p>
            </div>
        </div>

            
    {% endblock %}